<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<!--     
    <bean id="samsung"  class="tv.model.vo.Stv" />
    <bean id="lg"  class="tv.model.vo.Ltv" />
 -->    
    
    <!-- Setter Injection -->
    <!-- ctrl,  service, dao-->
    <!-- SincCtrl ctrl new SincCtrl(); -->
    <!--     <bean name="ctrl" class="sinc.ctrl.SincCtrl">
        <property name="service" ref="service"/> name= setter의 역할 , ref= 파라미터 객체 = Service에 지정한 name값
    
    
    </bean>
    <bean name="service" class="sinc.service.SincService">
        <property name="dao" ref="dao"/> name= setter의 역할 , ref=파라미터 객체 = DAO에 지정한 name값
    
    </bean>
    
    
    <bean name="dao" class="sinc.model.sql.SincDao"/>DAO이후에 호출하는 서비스가 없기때문에 닫힌태그로 마물
     -->
    
    
    <!-- Contructor Injection -->
    
    <!-- <bean name="ctrl" class="sinc.ctrl.SincCtrl">
        <constructor-arg ref="service" />
    
    
    </bean>
    <bean name="service" class="sinc.service.SincService">
        <constructor-arg ref="dao" />
    </bean>
    
    
    <bean name="dao" class="sinc.model.sql.SincDao"/>
    -->
    
    
    <context:component-scan base-package="*"/>
    
</beans>